# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/

# Logs & Tunnel binaries
*.log
ngrok.exe
